.dashboard-navbar-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

.left-box {
    flex: auto;
    margin-left: 30pt;
}

.left-box img {
    width: 109px;
    align-items: center;
    cursor: pointer;
}

.right-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: bottom;
}

.right-box-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.right-box-buttons img {
    margin: 5pt 5pt;
    height: 45px;
    cursor: pointer;
}

.right-box-flags {
    display: flex;
    align-items: flex-start;
    margin: 5pt 5pt;
}

.right-box-flags img {
    margin: 0pt 2pt;
    cursor: pointer;
}


