@media screen and (max-width: 480px) {
  #section-2 {
    padding: 1% 10%;
    height: 300px;
    background-color: #f0eff2;
  }

  #section-2-wrapper {
    display: flex;
    flex-direction: column;
  }

  #button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 3% 0%;
  }

  .btn {
    width: 50%;
  }

  #sign-up-btn {
    width: 100%;
  }

  #signup-section {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  #sign-up-star-text {
    font-family: Open Sans;
    align-self: center;

    width: 95%;
    font-weight: 700;
    line-height: 95%;
    font-size: 2.3vw;
    margin: 0px;
    color: #707070;
    /* border: 1px solid blue; */
  }

  .paragraph {
    margin: 1% 0;
  }

  .blue {
    color: #42c0f6;
  }

  .text {
    font-family: Nunito;
    width: 100%;
    line-height: 95%;
    font-weight: 700;
    margin: 2% 0%;
  }

  #heading {
    color: #767676;
    /* font-size: 2rem; */
    font-size: 9vw;
  }

  #paragraph {
    color: #6c6c6c;
    font-size: 4vw;
    font-weight: 500;
  }
}
