.student-section {
  height: 1000px;
  border-right: 1px solid #707070;
}

.teacher-section {
  height: 1000px;
  border-left: 1px solid #707070;
}

.modal-section {
  /* height: 50%; */
  /* width: 50%; */
  /* border: 4px solid black; */
  margin: 100px 125px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: space-between;
}

.modal-img {
  width: 200px;
  align-self: center;
}

.modal-h1 {
  color: #707070;
  font-family: Nunito;
  font-weight: 800;
  text-align: center;
}

.login-signup-h2s {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal-h2 {
  color: #707070;
  font-family: Open Sans;
  text-align: center;
  font-size: 16px;
}

.modal-h2:hover {
  cursor: pointer;
}

.underline::after {
  content: "";
  height: 3px;
  background: #43c0f6;
  border-radius: 5px;
  display: block;
}
