#nav-bar-body{
    border: 2px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.right-box{
    display: flex;
}

.right-box-left{
    display: flex;
    align-items: flex-end;
    margin: 0px 0px -10px 0px;
    padding-right: 20px;
}

.right-box-right{
    padding-right: 20px;
    border: 2px;
    display: flex;
    width: 50px;
    justify-content: space-between;
}

.right-box-link-one:hover{
    transform: translateY(10px);

    
}
