

#left-section-body{
    display: flex;
    flex-direction: column;
    width: 11%;
    height: 800px;
    background-color: #43c0f6;
}
#teacher-image{
    margin-left: 40px;
    margin-top: 20px;
}

h1{font-size: 2px;
    color: white;
    text-decoration: none;
}

.left-section-navBar-style{
    display: flex;
justify-content: flex-start;
    margin-top: 25px;
    margin-left: 2px; 
    padding-top: 7px;
    padding-bottom: 7px;
    }

.left-section-navBar-style:hover{
    background-color: #b2e4fa;
    text-decoration: none;}

#left-section-body-middle-box{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

#left-red-triangle-button{
    width: 50px;
    margin-top: 10px;
}

.right-section-body{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: px;
    width: 89%;
    height: 800px;
    background-color: #b2e4fa;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-content: space-around;
    width:93% ;
    height:90%;
    background-color:#d9f2fd;
    border-radius:  15px;
    opacity: 1;
}

.small-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    width:12%;
    height: 20%;
    background-color: white;
    border-radius: 15px;
    font-size: 3px;
    font-weight: bold;
    }

