#nav {
  background-color: #43c0f6;
  height: 64px;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  display: flex;
  padding: 0% 12%;
  align-items: center;
  justify-content: space-between;
}

#links {
  align-self: flex-end;
  margin-bottom: 0.5%;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.nav-link,
.nav-link a,
#language-div {
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9vw;
}

#star-logo-nav {
  height: 55px;
}

#language-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#login-div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border: 2px solid pink; */
}

#lang-and-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid black; */
  width: 100%;
}

#nz-flag,
#maori-flag {
  height: 15px;
  width: 30px;
}

#user-icon {
  margin: 0 5px;
}

.flag-div {
  margin: 0 2%;
}
