@media screen and (max-width: 480px) {
  #nav {
    height: 150px;
    padding: 0%;

    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  #links {
    align-self: center;
    margin-bottom: 0.5%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
  }

  .nav-link,
  .nav-link a,
  #language-div {
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.5vw;
    margin: 0% 0%;
    /* width: 100%; */
  }

  #star-logo-nav {
    height: 55px;
  }

  #language-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0% 2%;

    /* border: 2px solid blue; */
  }

  #login-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 2%;
    /* border: 2px solid pink; */
  }

  #lang-and-login {
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    /* width: 100%; */
    /* border: 2px solid blue; */
  }

  #nz-flag,
  #maori-flag {
    height: 15px;
    width: 30px;
  }

  #user-icon {
    margin: 0 5px;
  }

  .flag-div {
    margin: 0 2%;
  }
}
