.content-dashboard-background {
    background-color: #DAF2FE;
    border-radius: 20px;
    margin: 30px 25px;
    width: 80%;
    display: flex;
}

.content-dashboard-background h1 {
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.content-dashboard-background p {
    font-family: Open Sans;
    font-size: 12px;
    text-align: center;
}

.submit-photo {
    width: 50%;
    text-align: center;
    border-right: 2px solid #C7C2C2;
}

.call-teacher {
    width: 50%;
    text-align: center;
}

#picture {
    width: 550px;
    text-align: center;
    margin-top: 40px;
}

#pink-button {
    width: 200px;
    cursor: pointer;
    margin-top: 40px;
}